@import 'gorko/gorko.scss';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,700;1,700&display=swap');

/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
$gorko-base-size: 1rem;
$gorko-size-ratio: 4 / 3;

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

/**
 * SIZE SCALE
 * This is a Major Third scale that powers all the utilities that
 * it is relevant for (font-size, margin, padding). All items are
 * calcuated off the base size, so change that and cascade across
 * your whole project.
 */
$gorko-size-scale: (
  '100': $gorko-base-size / pow($gorko-size-ratio, 3),
  '200': $gorko-base-size / pow($gorko-size-ratio, 2),
  '300': $gorko-base-size / $gorko-size-ratio,
  '400': $gorko-base-size,
  '500': $gorko-base-size * $gorko-size-ratio,
  '600': $gorko-base-size * pow($gorko-size-ratio, 2),
  '700': $gorko-base-size * pow($gorko-size-ratio, 3),
  '800': $gorko-base-size * pow($gorko-size-ratio, 4),
  '900': $gorko-base-size * pow($gorko-size-ratio, 5),
  '1000': $gorko-base-size * pow($gorko-size-ratio, 6)
);

/**
 * COLORS
 * Colors are shared between backgrounds and text by default.
 * You can also use them to power borders, fills or shadows, for example.
 */
$gorko-colors: (
  'dark': #050505,
  'darkish': #404040,
  'mid': grey,
  'lightish': #e6e6e6,
  'light': #fafafa
);

/**
 * CORE CONFIG
 * This powers everything from utility class generation to breakpoints
 * to enabling/disabling pre-built components/utilities.
 */
$gorko-config: (
  'bg': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'background'
  ),
  'color': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'color'
  ),
  'box': (
    'items': (
      'block': 'block',
      'flex': 'flex',
      'hide': 'none',
      'show': 'inherit'
    ),
    'output': 'responsive',
    'property': 'display'
  ),
  'align': (
    'items': (
      'center': 'center',
      'left': 'left',
      'right': 'right',
      'justify': 'justify-left'
    ),
    'output': 'responsive',
    'property': 'display'
  ),
  'font': (
    'items': (
      'base': 'Helvetica Neue,Helvetica,Arial,sans-serif',
      'special': 'Barlow Condensed,Helvetica,sans-serif'
    ),
    'output': 'standard',
    'property': 'font-family'
  ),
  'gap-top': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'margin-top'
  ),
  'gap-right': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'margin-right'
  ),
  'gap-bottom': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'margin-bottom'
  ),
  'gap-left': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'margin-left'
  ),
  'pad-top': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'padding-top'
  ),
  'pad-right': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'padding-right'
  ),
  'pad-bottom': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'padding-bottom'
  ),
  'pad-left': (
    'items': $gorko-size-scale,
    'output': 'standard',
    'property': 'padding-left'
  ),
  'space': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': '--space',
  ),
  'stack': (
    'items': (
      '300': 0,
      '400': 10,
      '500': 20,
      '600': 30,
      '700': 40
    ),
    'output': 'standard',
    'property': 'z-index'
  ),
  'text': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'font-size'
  ),
  'weight': (
    'items': (
      'light': '300',
      'regular': '400',
      'bold': '700'
    ),
    'output': 'standard',
    'property': 'font-weight'
  ),
  'width': (
    'items': (
      'full': '100%',
      'half': percentage(1/2),
      'quarter': percentage(1/4),
      'third': percentage(1/3)
    ),
    'output': 'responsive',
    'property': 'width'
  ),
  'breakpoints': (
    'sm': '(min-width: 36em)',
    'md': '(min-width: 48em)',
    'lg': '(min-width: 62em)'
  ),
  'leading': (
    'items': (
      'loose': 1.7,
      'regular': 1.5,
      'tight': 1.3,
      'flat': 1.1,
    ),
    'output': 'standard',
    'property': 'line-height',
  ),
  'measure': (
    'items': (
      'micro': '10ch',
      'compact': '30ch',
      'short': '40ch',
      'long': '65ch',
    ),
    'output': 'responsive',
    'property': 'max-width',
  ),
  'duration': (
    'items': (
      'short': '350ms',
      'med': '500ms',
      'long': '850ms'
    ),
    'output': 'standard',
    'property': '--duration',
  ),
  'height': (
    'items': (
      'full': '100%',
      'half': percentage(1/2),
      'quarter': percentage(1/4),
      'third': percentage(1/3)
    ),
    'output': 'responsive',
    'property': 'height'
  ),
);
