<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Music Management</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <%= render "_skip-link.html" %>
    <sidebar-l class="height-full" sideWidth="20ch">
      <div class="height-full">
        <%= render "_navbar.html", assigns %>
        <main role="main" id="main-content">
          <box-l>
            <%= @inner_content %>
          </box-l>
        </main>
      </div>
    </sidebar-l>
  </body>
</html>
